/* Account show styles */

.account-overview {
  max-width: var(--theme-ui-sizes-container);
  margin: var(--theme-ui-space-4) auto;
  padding: 0 var(--theme-ui-space-2);
}

.account-overview h1 {
  font-weight: var(--theme-ui-fontWeights-bold);
  margin-bottom: var(--theme-ui-space-1);
}

.account-overview p {
  color: var(--theme-ui-colors-muted);
  margin-bottom: var(--theme-ui-space-2);
}

.account-device-link {
  color: var(--theme-ui-colors-primary);
  text-decoration: none;
  font-weight: var(--theme-ui-fontWeights-bold);
}

.account-device-link:hover {
  text-decoration: underline;
}
