/* Navbar */

nav,
.navbar {
  padding: var(--theme-ui-space-1) var(--theme-ui-space-2);
  max-width: var(--theme-ui-sizes-container);
  margin: 0 auto;
}

nav a:not(:first-child):not(.btn),
.navbar a:not(:first-child):not(.btn) {
  margin-left: var(--theme-ui-space-2);
  color: var(--theme-ui-colors-secondary);
  text-decoration: none;
}

nav a:not(.btn):hover,
.navbar a:not(.btn):hover {
  color: var(--theme-ui-colors-primary);
  text-decoration: underline;
}

nav .brand,
.navbar .brand {
  display: inline-block;
}

nav .brand a,
.navbar .brand a {
  text-decoration: none;
  color: var(--theme-ui-colors-text);
  margin-left: 0;
  font-weight: var(--theme-ui-fontWeights-bold);
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

.icon path {
  fill: currentColor;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.pull-right {
  float: right;
}

@media (max-width: 60rem) {
  nav .hidden-small,
  .navbar .hidden-small {
    display: none;
  }
}