service: micelio

image: micelio/micelio

volumes:
  - /var/micelio:/var/micelio

servers:
  web:
    hosts:
      - 91.98.64.68
    env:
      clear:
        PHX_SERVER: "true"
        MICELIO_GRPC_ENABLED: "false"
  grpc:
    hosts:
      - 91.98.64.68
    proxy:
      host: api.micelio.dev
      app_port: 50051
      ssl:
        certificate_pem: TLS_CERT_PEM
        private_key_pem: TLS_KEY_PEM
    env:
      clear:
        PHX_SERVER: "false"
        MICELIO_GRPC_ENABLED: "true"
        MICELIO_GRPC_PORT: "50051"
        MICELIO_GRPC_TLS_MODE: "proxy"

proxy:
  ssl:
    certificate_pem: TLS_CERT_PEM
    private_key_pem: TLS_KEY_PEM
  host: micelio.dev
  app_port: 4000

registry:
  server: 91.98.64.68:5000
  username: micelio
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: arm64
  remote: ssh://root@91.98.64.68

env:
  clear:
    PHX_HOST: micelio.dev
    STORAGE_BACKEND: s3
    SMTP_PORT: "587"
    SMTP_SSL: "false"
    SMTP_TLS: "always"
  secret:
    - DATABASE_URL
    - SECRET_KEY_BASE
    - SMTP_HOST
    - SMTP_USERNAME
    - SMTP_PASSWORD
    - SMTP_FROM_EMAIL
    - SMTP_FROM_NAME
    - S3_BUCKET
    - S3_ENDPOINT
    - S3_REGION
    - S3_ACCESS_KEY_ID
    - S3_SECRET_ACCESS_KEY
    - TLS_CERT_PEM
    - TLS_KEY_PEM
    - THEME_LLM_API_KEY
    - THEME_LLM_MODEL

accessories:
  postgres:
    image: postgres:17
    host: 91.98.64.68
    port: 5432
    env:
      clear:
        POSTGRES_USER: micelio
        POSTGRES_DB: micelio_prod
      secret:
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql/data
  registry:
    image: registry:2
    host: 91.98.64.68
    port: 5000
    directories:
      - data:/var/lib/registry
